<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FontAwesomeIcons" version="1.0.3" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="PlatformTabbedPage" version="0.4.0" targetFramework="xamarinios10" />
  <package id="Xam.FormsPlugin.Iconize" version="1.5.0.13-beta" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize" version="1.5.0.13-beta" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.FontAwesome" version="1.5.0.13-beta" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.Material" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Iconize.SimpleLineIcons" version="1.0.10" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.224" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms-IconTabbedPage" version="1.0.4" targetFramework="xamarinios10" />
  <package id="xamarin-iconify-common" version="1.0.0.0" targetFramework="xamarinios10" />
</packages>